.pad-all {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.pad-vert {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pad-down {
    padding-bottom: 12px;
}

.pad-left {
    padding-left: 12px;
}

.pad-right {
    padding-right: 12px;
}

.db-scroll {
    max-height: 500px;
    max-width: 1000px;
    overflow: auto;
}

.tableFixHead          { overflow-y: auto; max-height: 500px; height=100% }
.tableFixHead thead th { position: sticky; top: 0; }
th     { 
    background:#404040; 
    color: white;
}
