.pad-all {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.pad-vert {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pad-down {
    padding-bottom: 12px;
}

.pad-left {
    padding-left: 12px;
}

.pad-right {
    padding-right: 12px;
}

.db-scroll {
    max-height: 500px;
    max-width: 1000px;
    overflow: auto;
}

p + p {
    margin-top: 25px;
}

.blog {
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
}

.bigtext {
    max-width: 700px;
    font-size: 18px;
    line-height: 24px;
}

.tableFixHead          { overflow-y: auto; max-height: 500px; height=100% }
.tableFixHead thead th { position: sticky; top: 0; }
th     { 
    background:#404040; 
    color: white;
}
