{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nutrition Mate</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li{% if active_page == "home" %} class="active" {% endif %}><a href="/">Home</a></li>
      <li{% if active_page == "log" %} class="active" {% endif %}><a href="/log">Log</a></li>
      <li{% if active_page == "database" %} class="active" {% endif %}><a href="/database">Database</a></li>
      <li{% if active_page == "meals" %} class="active" {% endif %}><a href="/meals">Meals</a></li>
      <li{% if active_page == "weight" %} class="active" {% endif %}><a href="/weight">Weight</a></li>
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
