{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Nutrition-Mate{% else %}Nutrition-Mate{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='styles/custom.css')}}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" / >
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Nutrition Mate</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li{% if active_page == "home" %} class="active" {% endif %}><a href="/">Home</a></li>
            <li{% if active_page == "log" %} class="active" {% endif %}><a href="/log">Log</a></li>
            <li{% if active_page == "database" %} class="active" {% endif %}><a href="/database">Database</a></li>
            <li{% if active_page == "meals" %} class="active" {% endif %}><a href="/meals">Meals</a></li>
            <li{% if active_page == "weight" %} class="active" {% endif %}><a href="/weight">Weight</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Dropdown
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!-- links -->
                    <li><a href="/preferences">Preferences</a></li>
                    <li><a href="/tdee">TDEE</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </li>
            {% if current_user.is_anonymous %}
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
