{% extends "base.html" %}

{% block app_content %}
{% include "meals_add_modal.html" %}

<h2 align="center">Meals</h2>

<div align="right" class="pad-vert">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#mealAdd">
        Add Meal</button>
</div>

<form action="/meals" alight="center" autocomplete="off" class="md-form">
    <input name="query" type="text" class="form-control" placeholder="Search" 
        {% if query != none %}value="{{query}}"{% endif %} aria-label="Search" required="true">
</form>


<div class="list-group">
  {% for meal in meals %}
  <form method="get" action="/meals/{{meal.id}}">
      <button type="submit" class="list-group-item list-group-item-action">{{meal.name}}: {{meal.total}}</button>
  </form>
  {% endfor %}
</div>

{% endblock %}

