{% extends "base.html" %}

{% block app_content %}
<h2 align="center">Food Details</h2>

<form action="/usda/save" method="post" align="center">
    <input type="hidden" name="name" value="{{food.name}}">
    <input type="hidden" name="calories" value="{{food.calories}}">
    <input type="hidden" name="protein" value="{{food.protein}}">
    <input type="hidden" name="fat" value="{{food.fat}}">
    <input type="hidden" name="carbs" value="{{food.carbs}}">
    <input type="hidden" name="fiber" value="{{food.fiber}}">
    <input type="hidden" name="sugar" value="{{food.sugar}}">
    <input type="hidden" name="alcohol" value="{{food.alcohol}}">
    <input type="hidden" name="servings" value="{{food.servings}}">
    <input type="hidden" name="quantity" value="100">
    <button class="btn btn-info" type="submit">Add to Database</button>
</form>

<div class="form-inline pad-down">
    <h3 align="center">{{ food.name }} (per 100g)</h3>
    <div align="right">
        <select name="serving" class="form-control" style="width: 30%;">
            {% for name, qty in food.servings.items() %}
            <option {% if name == "100g" %}selected{% endif %}>{{ name }}: {{ qty }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="tableFixHead" style="clear: left">
    <table class="table table-striped table-bordered table-hover" align="center">
        <thead class="thead-dark">
            <tr>
                <th>Calories</th>
                <th>Fat</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Sugar</th>
                <th>Fiber</th>
                <th>Alcohol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ food.calories | int }}</td>
                <td>{{ "%0.2f" | format(food.fat) }}</td>
                <td>{{ "%0.2f" | format(food.carbs) }}</td>
                <td>{{ "%0.2f" | format(food.protein) }}</td>
                <td>{{ "%0.2f" | format(food.sugar) }}</td>
                <td>{{ "%0.2f" | format(food.fiber) }}</td>
                <td>{{ "%0.2f" | format(food.alcohol) }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
